/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

p {
    margin: 30px 0;
}

h2 {
    color: #0082fd;
}

img {
    width: 100%;
}

.lightblue-button {
    padding: 8px 30px;
    background-color: #0084fd;
    border-radius: 20px;
}

/* /GENERAL SETTINGS */


/* NAV-BAR */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #0084fd;
}
/* _______________________________________________ */
.logo{
    display: inline-block;
    font-size: 60px;
    margin-left: 30px;
}
/* _______________________________________________ */
.nav{
    margin-top: 300px;
    width: 100%;
    position: fixed;
    background-color: #0084fd;
    overflow: hidden;
    max-height: 0;
}
/* _______________________________________________ */
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.fa-bars {
    color: white;
    font-size: 20px;
}
/* _______________________________________________ */
.hamb{
    cursor: pointer;
    padding: 20px 20px;
    margin-right: 10px;
}
/* _______________________________________________ */
.side-menu {
    display: none;
}
/* _______________________________________________ */
.side-menu:checked ~ nav{
    max-height: 100%;
}
/* /NAV-BAR */

/* MAIN */
header {
    width: 100%;
}
/* _______________________________________________ */
main {
    padding-top: 130px;
}
/* _______________________________________________ */
.row {
    margin: 0 40px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* _______________________________________________ */
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    background-color: #b5ddff;
}
.col-inner-first {
    text-align: start;
}
.col-inner {
    padding: 30px;
}

/* LIGHTBLUE ON WHITE SECTION */
.out-of-border {
    padding-top: 50px;
    width: 100%;
    margin-bottom: -36px;
}
/* _______________________________________________ */
.lightblue-icon {
    color: #0084fd;
    font-size: 80px;
    padding-bottom: 30px;
}
/* LIGHTBLUE ON WHITE SECTION */


/* WHITE ON PURPLE SECTION */
.purple-backg {
    margin-top: 80px;
    background-color: #9792e4;
    padding-bottom: 50px;
}
/* _______________________________________________ */
.purple-row {
    display: flex;
    align-items: start;
    padding-top: 50px;
    text-align: start;
}
/* _______________________________________________ */
.white-title {
    color: white;
}
/* _______________________________________________ */
.white-title-paragraph {
    color: white;
    margin: 0;
}
/* _______________________________________________ */
.black-title {
    color: black;
}
/* _______________________________________________ */
#italic {
    font-style: italic;
}
/* _______________________________________________ */
.purple-button {
    padding: 12px;
    border-radius: 50%;
    background-color: #9792e4;
    color: black;
    font-size: 12px;
}
/* _______________________________________________ */
.white-col {
    background-color: white;
}
/* /WHITE ON PURPLE SECTION */


/* PURPLE ON WHITE SECTION */
.only-paragraph {
    padding-top: 50px;
    background-color: white;
}
/* _______________________________________________ */
.purple-col {
    background-color: #9792e4;
}
/* _______________________________________________ */
img[src*="testimonial"] {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
}
/* _______________________________________________ */
.not-block {
    padding: 0 10px;
    color: white;
}
/* _______________________________________________ */
strong {
    padding-bottom: 30px;
    color: white;
}
/* PURPLE ON WHITE SECTION */


