/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

p {
    margin: 30px 0;
}

h2 {
    color: #0082fd;
}

img {
    width: 100%;
}

.lightblue-button {
    padding: 8px 30px;
    background-color: #0084fd;
    border-radius: 20px;
}

/* /GENERAL SETTINGS */


/* NAV-BAR */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #0084fd;
}
/* _______________________________________________ */
.logo{
    display: inline-block;
    font-size: 60px;
    margin-left: 30px;
}
/* _______________________________________________ */
.nav{
    margin-top: 300px;
    width: 100%;
    position: fixed;
    background-color: #0084fd;
    overflow: hidden;
    max-height: 0;
}
/* _______________________________________________ */
.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.fa-bars {
    color: white;
    font-size: 20px;
}
/* _______________________________________________ */
.hamb{
    cursor: pointer;
    padding: 20px 20px;
    margin-right: 10px;
}
/* _______________________________________________ */
.side-menu {
    display: none;
}
/* _______________________________________________ */
.side-menu:checked ~ nav{
    max-height: 100%;
}
/* /NAV-BAR */

/* MAIN */

/* _______________________________________________ */
main {
    padding-top: 130px;
}
/* _______________________________________________ */
.centered-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* _______________________________________________ */
.row {
    margin: 0 40px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* _______________________________________________ */
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    background-color: #b5ddff;
}
.col-inner-first {
    text-align: start;
}
.col-inner {
    padding: 30px;
}

/* LIGHTBLUE ON WHITE SECTION */
.out-of-border {
    padding-top: 50px;
    width: 100%;
    margin-bottom: -39px;
}
/* _______________________________________________ */
.lightblue-icon {
    color: #0084fd;
    font-size: 80px;
    padding-bottom: 30px;
}
/* LIGHTBLUE ON WHITE SECTION */


/* WHITE ON PURPLE SECTION */
.purple-backg {
    margin-top: 80px;
    background-color: #9792e4;
    padding-bottom: 50px;
}
/* _______________________________________________ */
.purple-row {
    display: flex;
    align-items: start;
    padding-top: 50px;
    text-align: start;
}
/* _______________________________________________ */
.no-background {
    background-color: #9792e4;
}
/* _______________________________________________ */
.some-padding {
    padding: 20px 0;
}
/* _______________________________________________ */
.white-title {
    color: white;
}
/* _______________________________________________ */
.white-title-paragraph {
    color: white;
    margin: 0;
}
/* _______________________________________________ */
.black-title {
    color: black;
}
/* _______________________________________________ */
#italic {
    font-style: italic;
}
/* _______________________________________________ */
.purple-button-down {
    padding: 12px;
    border-radius: 50%;
    background-color: #9792e4;
    color: black;
    font-size: 12px;
}
/* _______________________________________________ */
.white-col {
    background-color: white;
}
/* /WHITE ON PURPLE SECTION */


/* PURPLE ON WHITE SECTION */
.only-paragraph {
    padding-top: 50px;
    background-color: white;
}
/* _______________________________________________ */
.purple-col {
    background-color: #9792e4;
}
/* _______________________________________________ */
img[src*="testimonial"], img[src*="about"] {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
}
/* _______________________________________________ */
.not-block {
    padding: 0 10px;
    color: white;
}
/* _______________________________________________ */
strong {
    padding-bottom: 30px;
    color: white;
}
/* /PURPLE ON WHITE SECTION */


/* WHITE ON PURPLE SECTION */
#benefits {
    color: white;
    margin-top: 60px;
    font-size: 32px;
    text-align: center;
}
/* _______________________________________________ */
.all-left {
    display: flex;
    align-items: flex-start;
    text-align: left;
}
/* _______________________________________________ */
.purple-button {
    border-radius: 40px;
    padding: 8px 66px;
    font-size: 16px;
    color: white;
    background-color: #9792e4;
    margin-bottom: 30px;
}
/* _______________________________________________ */
.purple-title, .purple-number {
    color: #9792e4;
}
.purple-number {
    font-size: 40px;
    padding-bottom: 20px;
}
/* /WHITE ON PURPLE SECTION */


/* ONLY-WHITE */
.size-title {
    padding-top: 60px;
    font-size: 32px;
}

.about-us-img {
    position: relative;
    width: 200px;
}
/* _______________________________________________ */
.absolute {
    position: absolute;
    right: 0;
    color: #9792e4;
    font-size: 70px;
}
/* _______________________________________________ */
.linkedin {
    margin-bottom: 60px;
    border-radius: 20px;
    padding: 3px 20px;
    font-size: 12px;
    background-color: #9792e4;
    color: white;
}
/* /ONLY-WHITE */


/* WHITE ON PURPLE WITHOUT IMG */
.last-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    color: white;
    max-width: 600px;
}
/* _______________________________________________ */
#get-started {
    color: #c9c7f0;
}
/* _______________________________________________ */
.things-about {
    padding: 20px 0;
    color: white;
    font-size: 30px;
}
/* _______________________________________________ */
#free {
    padding-top: 10px;
    color: #fdc15f;
    font-size: 50px;
}
/* _______________________________________________ */
.white-button {
    margin: 20px 0;
    border-radius: 40px;
    padding: 10px 70px;
    background-color: white;
    color: #9792e4;
}
/* _______________________________________________ */
.copyright {
    font-size: 13px;
}
/* _______________________________________________ */
.privacy {
    text-decoration: underline;
}
/* /WHITE ON PURPLE WITHOUT IMG */

/* /MAIN */


/* FOOTER */
.black-backg {
    padding-bottom: 50px;
    background-color: #333333;
    line-height: normal;
}
/* _______________________________________________ */
.normal-margin {
    margin-top: 0;
    margin-bottom: 60px;
}
/* _______________________________________________ */
.normal-link {
    color: #8d88d3;
    text-decoration: underline;
}
/* /FOOTER */





/* TABLET QUERY */
@media screen and (min-width:768px) and (max-width:991px){
    /* LIGHTBLUE ON WHITE SECTION */
    .tablet-row {
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        gap: 20px;
        align-items: inherit;
    }
/* _______________________________________________ */
    .tablet-col {
        width: calc(100% / 3 - (20px / 3 * 2));
    }
/* _______________________________________________ */
    .bigger {
        width: calc(100% / 3 * 2 - (20px / 3));
    }
    /* /LIGHTBLUE ON WHITE SECTION */


    
    /* PURPLE ON WHITE SECTION */
    .tablet-card {
        display: flex;
        flex-direction: row;
    }
/* _______________________________________________ */
    .circle {
        padding: 20px;
    }
/* _______________________________________________ */
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
    }
/* _______________________________________________ */
    .not-block {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 0;
    }
    /* /PURPLE ON WHITE SECTION */



    /* WHITE ON PURPLE SECTION */
    .tablet-benefits-row {
        display: flex;
        flex-flow: wrap row;
        gap: 20px;
        align-items: inherit;
    }
/* _______________________________________________ */
    .tablet-benefits-col {
        width: calc(100% / 2 - (20px / 2));
        line-height: normal;
    }
/* _______________________________________________ */
    .tablet-small-text {
        font-size: 13px;
        line-height: 30px;
        color: #666666;
    }
    /* /WHITE ON PURPLE SECTION */



    /* ONLY WHITE */
    .tablet-about-row {
        display: flex;
        flex-flow: wrap row;

        gap: 60px;
        align-items: inherit;
    }
/* _______________________________________________ */
    .tablet-about-col {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
        width: calc(100% / 2 - (60px / 2));
    }
/* _______________________________________________ */
    .about-us-img {
        padding-top: 60px;
        text-align: center;
        width: 200px;
    }
/* _______________________________________________ */
    .linkedin {
        max-width: 180px;
    }
/* _______________________________________________ */
    img[src*="about"] {
        margin: 0;
    }
    /* /ONLY WHITE */
}
/* /TABLET QUERY */





/* DESKTOP QUERY */
@media screen and (min-width:992px) {

    
    /* LIGHTBLUE ON WHITE SECTION */
    .tablet-row {
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        gap: 20px;
        align-items: inherit;
    }
/* _______________________________________________ */
    .tablet-col {
        width: calc(100% / 3 - (20px / 3 * 2));
    }
/* _______________________________________________ */
    .bigger {
        width: calc(100% / 3 * 2 - (20px / 3));
    }
/* _______________________________________________ */
    .col-inner-first {
        display: flex;
        flex-flow: row;
        padding: 30px 30px 0;
    }
/* _______________________________________________ */
    .out-of-border {
        margin-bottom: -10px;
        padding: 0;
    }
/* _______________________________________________ */
    .lightblue-button {
        width: 60%;
    }
/* _______________________________________________ */
    .demo-app-text {
        display: flex;
        flex-flow: column;
        width: calc(100% / 2);
        margin-bottom: 0
    }
/* _______________________________________________ */
    .demo-app-img {
        width: calc(100% / 2);
    }
    /* /LIGHTBLUE ON WHITE SECTION */


    
    /* WHITE ON PURPLE */
    .purple-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .planning-col {
        width: calc(100% / 2 - 30px);
    }

    .equi {
        margin-top: 100px;
    }

    .no-background {
        padding-top: 130px;
        text-align: left;
    }
    /* /WHITE ON PURPLE */



    /* PURPLE ON WHITE SECTION */
    .tablet-card {
        display: flex;
        flex-direction: row;
    }
/* _______________________________________________ */
    .circle {
        padding: 20px;
    }
/* _______________________________________________ */
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
    }
/* _______________________________________________ */
    .not-block {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 0;
    }
    /* /PURPLE ON WHITE SECTION */



    /* WHITE ON PURPLE SECTION */
    .tablet-benefits-row {
        display: flex;
        flex-flow: wrap row;
        gap: 20px;
        align-items: inherit;
    }
/* _______________________________________________ */
    .tablet-benefits-col {
        width: calc(100% / 2 - (20px / 2));
        line-height: normal;
    }
/* _______________________________________________ */
    .tablet-small-text {
        font-size: 13px;
        line-height: 30px;
        color: #666666;
    }
    /* /WHITE ON PURPLE SECTION */
}